@import './base.css';

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

#app {
    background-color: #f8efdd;
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-default);
    width: 100%;
    margin: 1rem;
}

.title-prim-color {
    text-align: center;
    color: var(--color-primary);
}

.paragraph {
    color: var(--color-dark);
    font-size: var(--font-size-base);
    margin-bottom: var(--spacing-md);
    margin-block: 1em;
  }

.ul-reset {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.button-basic {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    padding: var(--spacing-sm) var(--spacing-lg);
    margin: var(--spacing-sm);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.3s;
}

.button-basic:hover {
    background-color: var(--color-hover);
}

.border-menu {
    border: 3px ridge var(--color-border);
    border-radius: 4px;
    box-shadow: var(--box-shadow-default);
    transition: border-color 0.3s ease;
}

.border-menu:hover {
    border-color: var(--color-hover);
}

.company-title img.company-logo {
    width: 80%;        /* Sätt bildens bredd till 80% av förälderelementet */
    max-width: 500px;  /* Sätt en max-bredd för att inte göra bilden för stor */
    height: unset;      /* Bevara bildens proportioner */
  }

  .company-title {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }

.button-menu {
    padding: 0.6rem 1.2rem;
    margin-bottom: var(--spacing-xs);
    background-color: var(--color-primary);
    color: white;
    font-weight: 550;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-menu:hover {
    background-color: var(--color-hover);
    transform: scale(1.05);
  }

.drop-down-menu {
    position: relative;
    display:flex;
}

.drop-down-list-menu {
    display: flex;
    flex-wrap: wrap;
}

.dropDownOpen {
    display:flex !important;
}

.popout {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.popout:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.popout-text {
    transition: font-size 0.3s ease;
}

.active-highlight-vertical-line {
    position:relative;
}

.active-highlight-vertical-line::before {
    content: '';
    height: 100%;
    width: 5px;
    border-radius: 4px;

    background-color: var(--color-hover);

    position:absolute;
    left: 0;
    top:0;
}

@media (max-width: 640px)
{
    #app {
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
    }
}
